<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Dashboard</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/Admin/Admin.css" rel="stylesheet" />

    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">


</head>
<body style="padding-top:0;">

    <div class="page-wrapper chiller-theme toggled">
        <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
            <i class="fa fa-bars"></i>
        </a>
        <nav id="sidebar" class="sidebar-wrapper">
            <div class="sidebar-content">
                <div class="sidebar-brand">
                    <a href="/dashboard/" style="color:orange;">EShop CP</a>
                    <div id="close-sidebar">
                        <i class="fa fa-times"></i>
                    </div>
                </div>
                <div class="sidebar-header">
                    <div class="user-pic">
                        <img class="img-responsive img-rounded" src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
                             alt="User picture">
                    </div>
                    <div class="user-info">
                        <span class="user-name">
                            <strong>@Request.Cookies["user_cookie_name"].Value.ToString()</strong>
                        </span>
                        <span class="user-role">Administrator</span>
                        <span class="user-status">
                            <i class="fa fa-circle"></i>
                            <span>Online</span>
                        </span>
                    </div>
                </div>
                <div class="sidebar-menu">
                    <ul>
                        <li class="header-menu">
                            <span>Dashboard</span>
                        </li>

                        <li>
                            <a href="/Categories/"><i class="fa fa-folder"></i><span>Kategorije</span></a>
                        </li>
                        <li>
                            <a href="/Products/"><i class="fa fa-folder"></i><span>Proizvodi</span></a>
                        </li>
                        <li>
                            <a href="/SlideShows/"><i class="fa fa-picture-o"></i><span>Sliders</span></a>
                        </li>

                        <li>
                            <a href="/Stores/"><i class="fa fa-building"></i><span>Saloni</span></a>
                        </li>
                        <li>
                            <a href="/Accounts/"><i class="fa fa-address-book"></i><span>Accounts</span></a>
                        </li>
                        <li>
                            <a href="/invoices/"><i class="fa fa-book"></i><span>Fakture</span></a>
                        </li>
                        <li>
                            <a href="/Reports/"><i class="fa fa-line-chart"></i><span>Izvestaji</span></a>
                        </li>
                    </ul>
                </div>
                <!-- sidebar-menu  -->
            </div>
            <!-- sidebar-content footer -->
            <div class="sidebar-footer">

                <a href="@Url.Action("Logout", "Login")">
                    <i class="fa fa-power-off"></i>
                </a>
            </div>
        </nav>
        <main class="page-content"> @*Add for resposive*@
            <div class="container-fluid">@*Add for resposive*@
                        <div class="container body-content" style="padding-top:70px;">
                            @RenderBody()
                        </div>
            </div>
        </main>
    </div><!-- END sidebar-wrapper  -->
            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            <script src="~/Scripts/jquery.validate.min.js"></script>
            <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>



            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                    crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                    crossorigin="anonymous"></script>

            <script>
                jQuery(function ($) {

                    $(".sidebar-dropdown > a").click(function () {
                        $(".sidebar-submenu").slideUp(200);
                        if (
                            $(this)
                                .parent()
                                .hasClass("active")
                        ) {
                            $(".sidebar-dropdown").removeClass("active");
                            $(this)
                                .parent()
                                .removeClass("active");
                        } else {
                            $(".sidebar-dropdown").removeClass("active");
                            $(this)
                                .next(".sidebar-submenu")
                                .slideDown(200);
                            $(this)
                                .parent()
                                .addClass("active");
                        }
                    });

                    $("#close-sidebar").click(function () {
                        $(".page-wrapper").removeClass("toggled");
                    });
                    $("#show-sidebar").click(function () {
                        $(".page-wrapper").addClass("toggled");
                    });




                });
            </script>
            <!--Afte a add element i-->



            @RenderSection("scripts", required: false)
</body>
</html>


