@model Online_Shop_Salon.Models.tbl_Product
@{
    ViewBag.Title = "ProductDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Online_Shop_Salon.Models;


<section id="jumborton-info">
    <div class="jumbotron">
        <h1 class="display-5">EShop - Salon Nameštaja</h1>


    </div>
</section>

<section id="category-items">
    <div class="container-fluid mt-2 mb-5">
        <div class="products">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

                    <div class="row g-3">
                       
                        @if (ViewBag.CountProducts > 0 )
                        {
                            foreach (var item in ViewBag.Products)
                            {
                                tbl_Product pr = (tbl_Product)item;

                                var photo = pr.tbl_Photo.SingleOrDefault(p => p.Main_Image == true);

                                <div class="col-md-4">
                                    <div class="card">
                                        <img style="width:80%!important;" src="@photo.Image_Name" class="card-img-top">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between"> <span class="font-weight-bold">@item.Product_Name</span></div>
                                            <p class="card-text mb-1 mt-1">Info samo provera-CategoryID- @item.Category_Id</p>
                                        </div>
                                        <hr>
                                        <div class="card-body">
                                            <div class="text-right buttons">
                                                @Html.ActionLink("Proizvod", "Details", new { id = item.Product_Id }, new { @class = "btn btn-dark" })
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            foreach (var item2 in ViewBag.CategoriesSearch)
                            {
                                <div class="col-md-4">
                                    <div class="card">
                                        <img style="width:80%!important;" src="@item2.Category_Image" class="card-img-top">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between"> <span class="font-weight-bold">@item2.Category_Name</span></div>
                                            <p class="card-text mb-1 mt-1">Info samo provera-CategoryID- @item2.Category_Id</p>
                                        </div>
                                        <hr>
                                        <div class="card-body">
                                            <div class="text-right buttons">
                                                @Html.ActionLink("Proizvod", "ProductDetails", new { id = item2.Category_Id }, new { @class = "btn btn-dark" })
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            }

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


