@model IEnumerable<Online_Shop_Salon.Models.tbl_Invoice>

@{
    ViewBag.Title = "Fakture";
    Layout = "~/Views/Shared/_Admin_Leyout.cshtml";
}
<style>
    th {
        text-align: center !important;
    }
</style>
<p>Fakture</p>
<table id="tableInvoice" class="uk-table uk-table-hover uk-table-striped" style="width:100%;text-align:center;">
    <thead>
        <tr>
            <th>Broj Fakture</th>
            <th width="5%">Status Placanja</th>
            <th>Kupac</th>
            <th>Datum Kupovine</th>
            <th width="5%">Detaljnije</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.Invoices)
        {
        <tr>
            <td width="10%">
                @item.Invoice_Id
            </td>
            <td width="10%">
                @if (item.Status == true)
                {
                    @Html.ActionLink(" ", "SetStatus", new { id = item.Invoice_Id }, new { @class = "icon-on fa fa-toggle-on fa-lg" })
                }
                else
                {
                    @Html.ActionLink(" ", "SetStatus", new { id = item.Invoice_Id }, new { @class = "icon-off fa fa-toggle-off fa-lg" })
                }
            </td>
            <td>@item.tbl_Account.UserName</td>
            <td>@item.Created.ToString("dd/MM/yyyy")</td>
            <td>@Html.ActionLink(" ", "Details", new { id = item.Invoice_Id }, new { @class = "fa fa-info" })</td>
        </tr>
        }
    </tbody>
</table>

<link href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.2/css/uikit.min.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/dataTables.uikit.min.css">

@section scripts{
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/dataTables.uikit.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#tableInvoice').DataTable({
                'paging': true,
                'langthChange': false,
                'columnDefs': [{ orderable: false, targets: [4] }],
                "order": [[0, "desc"]]
            });
        });


    </script>

}