
@{
    ViewBag.Title = "Izvestaj Faktura";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    th {
        text-align: center !important;
    }
</style>
@if (TempData["Message_Invoice_Error"] != null)
{
    <div class="container">
        <div class="row justify-content-center">
            <div class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <strong> @TempData["Message_Invoice_Error"]</strong>
            </div>
        </div>
    </div>
}
else { 
@* Provera za priloskom ulaska u fakture, korisnik samo moze svoje fakture da vidi *@
if (ViewBag.InvoiceAccount.Account_Id != null)
{
    if (ViewBag.InvoiceAccount.Account_Id.ToString() == Request.Cookies["user_cookie_id"].Value)
    {
        <table id="tableInvoice" class="uk-table uk-table-hover uk-table-striped" style="width:100%; text-align:center;">
            <thead>
                <tr>
                    <th>Broj Fakture</th>
                    <th width="5%">Status Placanja</th>
                    <th>Kupac</th>
                    <th width="15%">Datum Kupovine</th>
                    <th width="5%">Detaljnije</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.Invoices)
                {
                    <tr>
                        <td width="10%">
                            @item.Invoice_Id
                        </td>
                        <td width="10%">
                            @if (item.Status == true)
                            {
                                <div class="col-sm-9 text-secondary">
                                    <div class="badge badge-success badge-success-alt">Plaćeno</div>
                                </div>
                            }
                            else
                            {
                                <div class="col-sm-9 text-secondary">
                                    <div class="badge badge-danger badge-danger-alt">Nije Plaćeno</div>
                                </div>
                            }
                        </td>
                        <td>@item.tbl_Account.UserName</td>
                        <td>@item.Created.ToString("dd/MM/yyyy")</td>
                        <td>@Html.ActionLink(" ", "InvoiceDetailsUser", new { id = item.Invoice_Id }, new { @class = "fa fa-info" })</td>
                    </tr>
                }

            </tbody>

        </table>
    }
    else
    {
        <h1>Nemate mogucnost da vidite fakture prccc!</h1>
    }
}



}

<link href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.2/css/uikit.min.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/dataTables.uikit.min.css">

@section scripts{
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/dataTables.uikit.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#tableInvoice').DataTable({
                'paging': true,
                'langthChange': false,
                'columnDefs': [{ orderable: false, targets: [4] }],
                "order": [[0, "desc"]],
                'scrollX': true
            });
        });

    </script>

}

