@model Online_Shop_Salon.Models.tbl_Category

@{
    ViewBag.Title = "Uredi Kategoriju/Podkategoriju";
    Layout = "~/Views/Shared/_Admin_Leyout.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#Category_Name").keyup(function () {
            $('#Category_Name').css('textTransform', 'capitalize');
        });
    });
</script>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">
            @using (Html.BeginForm("Edit", "Categories", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Category_Id)
                <div class="container">
                    <div class="row row h-100 align-items-center justify-content-centerr">
                        <div class="col align-self-cente ">
                            <div class="card">
                                <div class="card-header text-center display-4">
                                    Uredi Kategoriju
                                    <a href="/categories/">
                                        <button type="button" class="close" aria-label="Close" style="color:white;font-size:34px;top:9px;position:absolute;right:12px;">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </a>
                                </div>
                                <div class="card-body">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-row justify-content-center">
                                        <div class="form-group col-md-6">
                                            @Html.LabelFor(model => model.Category_Name, htmlAttributes: new { @class = "control-label" })
                                            @Html.EditorFor(model => model.Category_Name, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Category_Name, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-row justify-content-center">
                                        <div class="form-group col-md-6">
                                            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
                                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-row justify-content-center">
                                        <div class="form-group col-md-6 ">
                                            <div class="col-md-6">
                                                @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label " })
                                            </div>
                                            <div class="col-md-6">
                                                @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "control-label" } })
                                                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row justify-content-center">
                                        <div class="form-group col-md-6 ">
                                            @Html.LabelFor(model => model.Category_Image, htmlAttributes: new { @class = "control-label" })
                                            <div class="col-md-6">
                                                <input type="file" name="ImageFile" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-row justify-content-center">
                                            <div class="form-group col-md-6">
                                                @Html.LabelFor(model => model.Category_Image, htmlAttributes: new { @class = "control-label" })
                                                <div class="col-md-10">
                                                    <img src="@Model.Category_Image" class="embed-responsive"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row justify-content-center">
                                        <div class="form-group col-md-6 ">
                                            <div class="col-md-10">
                                                <button type="submit" class="btn btn-primary btn-lg btn-block">Snimi</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</div>


