

@{
    ViewBag.Title = "Unos Kategorije i PodKategorije";
    Layout = "~/Views/Shared/_Admin_Leyout.cshtml";
}

<style>
   th {
        text-align:center!important;
    }
</style>

<p>
    @Html.ActionLink(" Dodaj Kategoriju", "Create", null, new { @class = "btn btn-success fa fa-plus fa-sm" })
</p>
<table id="tableCategories" class="uk-table uk-table-hover uk-table-striped" style="width:100%; text-align:center;">
    <thead>
        <tr>
            <!--th width="5%">ID</th-->
            <th>Name</th>
            <th>Perent</th>
            <th width="5%">Status</th>
            <th>Tools</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.categories)
        {
            <tr>
                <!--td>@item.Category_Id</td-->
                <td style="text-align:left"><b>@item.Category_Name</b></td>
                <td>@(item.ParentId == null ? "" : item.tbl_Category2.Category_Name)</td>
                <td>
                    @if (item.Status == true)
                    {
                        <div class="col-sm-9 text-secondary">
                            <div class="badge badge-success badge-success-alt">Online</div>
                        </div>
                    }
                    else
                    {
                        <div class="col-sm-9 text-secondary">
                            <div class="badge badge-danger badge-danger-alt">Offline</div>
                        </div>
                    }
                </td>
                <td>
                    @Html.ActionLink(" ", "Edit", new { id = item.Category_Id }, new { @class = "btn btn-sm btn-info fa fa-pencil fa-lg" })
                    @if (item.tbl_Category1 != null && item.tbl_Category1.Count == 0)
                    {
                        @Html.ActionLink(" ", "Delete", new { id = item.Category_Id }, new { @class = "btn btn-sm btn-danger fa fa-trash fa-lg", @onclick = "return confirm('Da li zelite da izbrisete Kategoriju?');" })
                    }
                    @Html.ActionLink(" ", "AddSubCategory", new { id = item.Category_Id }, new { @class = "btn btn-sm btn-success fa fa-plus fa-sm" })
                </td>
            </tr>
            if (item.tbl_Category1.Count != 0)
            {
                foreach (var item2 in item.tbl_Category1)
                {
                    <tr>
                        <!--td>@item2.Category_Id</td-->
                        <td>@item2.Category_Name</td>
                        <td>@(item2.ParentId == null ? "" : item2.tbl_Category2.Category_Name)</td>
                        <td>
                            @if (item2.Status == true)
                            {
                                <div class="col-sm-9 text-secondary">
                                    <div class="badge badge-success badge-success-alt">Online</div>
                                </div>
                            }
                            else
                            {
                                <div class="col-sm-9 text-secondary">
                                    <div class="badge badge-danger badge-danger-alt">Offline</div>
                                </div>
                            }
                        </td>
                        <td>
                            @Html.ActionLink(" ", "Edit", new { id = item2.Category_Id }, new { @class = "btn btn-sm btn-info fa fa-pencil fa-lg" })
                            @if (item2.tbl_Product.Count == 0)
                            {
                                @Html.ActionLink(" ", "Delete", new { id = item2.Category_Id }, new { @class = "btn btn-sm btn-danger fa fa-trash fa-lg", @onclick = "return confirm('Da li zelite da izbrisete PodKategoriju?');" })
                            }
                        </td>

                    </tr>

                }
            }
        }
    </tbody>

</table>


<link href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.2/css/uikit.min.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/dataTables.uikit.min.css">

@section scripts{
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/dataTables.uikit.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#tableCategories').DataTable({
                'paging': true,
                'columnDefs': [{ orderable: false, targets: [4] }],
                'langthChange': false
                //"order": [[0, "desc"]]
            });
        });


    </script>

}

