@model Online_Shop_Salon.Models.tbl_Photo
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Admin_Leyout.cshtml";
}


@if (TempData["Message_Photo_Error"] != null)
{
    <div class="container">
        <div class="row justify-content-center">
            <div class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <strong> @TempData["Message_Photo_Error"]</strong>
            </div>
        </div>
    </div>
}

@using (Html.BeginForm("Create", "Photos", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken();
    @Html.HiddenFor(model => model.Product_Id)
    <div class="container">
        <div class="row row h-100 align-items-center justify-content-centerr">
            <div class="col align-self-cente ">
                <div class="card">
                    <div class="card-header text-center display-4">
                        Dodaj sliku za Proizvod
                        <a href="/products/">
                            <button type="button" class="close" aria-label="Close" style="color:white;font-size:34px;top:9px;position:absolute;right:12px;">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </a>
                    </div>
                    <div class="card-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-row justify-content-center">
                            <div class="form-group col-md-6">
                                <label>Slika Proizvoda</label>
                                <div class="col-md-10">
                                    <input type="file" name="ImageFile" required/>
                                </div>
                            </div>
                        </div>
                        <div class="form-row justify-content-center">
                            <div class="form-group col-md-6 ">
                                <div class="col-md-6">
                                    <label>Status Slike</label>
                                </div>
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "control-label" } })
                                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-row justify-content-center">
                            <div class="form-group col-md-6 ">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-primary btn-lg btn-block">Snimi</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}




