@model Online_Shop_Salon.Models.tbl_Store

@{
    ViewBag.Title = "Saloni";
    Layout = "~/Views/Shared/_Admin_Leyout.cshtml";
}
@using Online_Shop_Salon.Models;
<h2>Lista Salona</h2>

<p>
    @Html.ActionLink(" Dodaj Salon", "Create", null, new { @class = "btn btn-sm btn-success fa fa-plus fa-sm" })
</p>


        <table id="tableStores" class="uk-table uk-table-hover uk-table-striped" style="width:100%; text-align:center;">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Store_Name)</th>
                    <th>@Html.DisplayNameFor(model => model.Owner_Name)</th>
                    <th>@Html.DisplayNameFor(model => model.City)</th>
                   
                  
                    <th>@Html.DisplayNameFor(model => model.Phone)</th>
                    <th>@Html.DisplayNameFor(model => model.Email)</th>
                    <th>@Html.DisplayNameFor(model => model.Status)</th>
                 
                   
                    <th>Tools</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.Stores)
                {
                    <tr>
                        <td>@item.Store_Name</td>
                        <td><b>@item.Owner_Name</b></td>
                        <td>@item.City</td>
                        
                        <td>@item.Phone</td>
                        <td>@item.Email</td>
                        <td>
                            @if (item.Status == true)
                            {
                                <div class="col-sm-9 text-secondary">
                                    <div class="badge badge-success badge-success-alt">Online</div>
                                </div>
                            }
                            else
                            {
                                <div class="col-sm-9 text-secondary">
                                    <div class="badge badge-danger badge-danger-alt">Offline</div>
                                </div>
                            }
                        </td>
                        <td>

                            @Html.ActionLink(" ", "Details", new { id = item.Store_Id}, new { @class = "btn btn-sm btn-info fa fa-info fa-lg" })

                           
                            @Html.ActionLink(" ", "Edit", new { id = item.Store_Id }, new { @class = "btn btn-sm btn-primary fa fa-pencil fa-lg" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>


<link href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.2/css/uikit.min.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/dataTables.uikit.min.css">

@section scripts{
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/dataTables.uikit.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#tableStores').DataTable({
                'paging': true,
                'langthChange': false,
                "order": [[0, "desc"]]
            });
        });


    </script>

}